/*
	Taxonomy Tools Demo Styles
	
	Project RAGE (No 644187)
	Realising and Applied Gaming Eco-system
	Research and Innovation Action

	This is a set of styles only for the demo examples of
	the collection of RAGE Taxonomy Tools.

	License: to be defined
	
	2015 P.B.
*/



body {
	text-align: center;
}

/* default width of page content */
p, li>span {
	margin: 1em auto;
	font-family: Verdana, Geneva, sans-serif;
	max-width: 800px;
	color: #308F5A;
	text-shadow: 0 0 1px #AAF1CA;
}

li {
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
}


/* a title resembling the text of RAGE's logo */
h1, h2 {
	display: inline-block;
	position: relative;
	margin: 0;

	color: #505050;
	text-shadow: 0 0 2px LightGray;
	text-transform: uppercase;

	font-family: Verdana, Geneva, sans-serif;
	font-size: 2em;
	font-weight: normal;

	transform: scale(0.95,1);
	-ms-transform: scale(0.95,1);
	-webkit-transform: scale(0.95,1);
}

h2 {
	display: block;
	font-size: 1.25em;
}

/* images embeded in the body */
body>img {
	display: inline-block;
	position: relative;

	height: 2.4em;
	vertical-align: -0.41em;
}


/* images embeded in the main text */
p>img {
	height: 1em;
	vertical-align: -0.2em;
}
