/*

  *	taxonomy.css
	Styling for the RAGE Taxonomy tools.

  *	Project RAGE (Realising and Applied Gaming Eco-system)
  	This project has received funding from the European Union’s
	Horizon 2020 research and innovation programme under grant
	agreement No 644187.
	
  *	Copyright 2015-2016 SU-FMI-KIT

  *	Licensed under the Apache License, Version 2.0 (the"License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*/


/*	
	The taxonomy box is the placeholder where a taxonomy is
	visualized. The placeholder also contains a title and a
	few buttons.
*/
.taxonomyBox {
	position: relative;
	display: flex;
	flex-flow: column; 
	background-color: GhostWhite;
	font-family: Verdana, Geneva, sans-serif;
	border: solid 1px DarkGray;
	border-radius: 0.4em;
	height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.taxonomyBox .container {
	flex: 1;
	position: relative;
	background-color: White;
	width: 100%;
	height: 1px;
	overflow: auto;
}
.taxonomyBox canvas {
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
}
.taxonomyBox .message {
	display: block;
	margin: 3em auto 0 auto;
	padding: 0.25em;
	border-radius: 5em;
	text-align: center;
	background-color: MediumAquaMarine;
	color: White;
	width: 90%;
	animation-name: connecting;
	animation-duration: 12s;
	animation-delay: 0s;
	text-shadow: 0 0 0px White;
}
.taxonomyBox .error {
	background-color: Tomato;
}
@keyframes connecting {
    0% {width: 15em; background-color: White;}
    30% {width: 15em; background-color: MediumAquaMarine;}
    70% {width: 90%; background-color: MediumAquaMarine;}
    100% {width: 90%; background-color: Tomato;}
}
@keyframes error {
    0% {width: 90%; background-color: MediumAquaMarine;}
    100% {width: 90%; background-color: Tomato;}
}
@keyframes filedrop {
    0% {width: 85%; background-color: White;}
    100% {width: 90%; background-color: MediumAquaMarine;}
}
.pause {
    -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    animation-play-state: paused;
}
.taxonomyBox .error {
	display: block;
	margin: 3em auto 0 auto;
	padding: 0.25em;
	border-radius: 5em;
	text-align: center;
	background-color: Tomato;
	color: White;
	width: 90%;
	text-shadow: 0 0 0px White;
}



/*
	The header of the taxonomy box is a fixed area at the
	top. It contains the title and the iconic buttons (if
	they are visible.
*/
.taxonomyBox .header {
	font-family: inherit;
	text-align: center;
	border-bottom: LightGray solid 1px;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.taxonomyBox h2 { /* mimics the font style of the RAGE logo */
	color: #505050;
	font-size: 1.2em;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 0 0 2px LightGray;
	margin-top: 0;
	margin-bottom: 0.25em;
    transform: scale(0.9,1);
    -ms-transform: scale(0.9,1);
    -webkit-transform: scale(0.9,1);
	z-index: 0;
}
.taxonomyBox .logo {
	display: block;
	margin: 0.5em auto 0 auto;
	height: 1.5em;
}

.taxonomyBox img.button {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	height: 3.75em;
	cursor: pointer;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	z-index: 1;
}
.taxonomyBox img.button.cancel {
	top: 0;
	right: 0;
	left: auto;
}
.taxonomyBox span.button {
	display: inline-block;
	color: #40806A;
	font-size: 0.8em;
	text-align: center;
	padding: 0 0.25em 0.2em 0.25em;
	margin: 0em 0.25em 0.2em 0.25em;
	height: 1.25em;
	cursor: pointer;
}
.taxonomyBox img.button:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}
.taxonomyBox span.button:hover {
	color: Black;
	border-radius: 0.3em;
	background-color: MediumAquaMarine;
}
.taxonomyBox span.bar {
	color: LightGray;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.left {
	float: left;
}


/*
	The footer of the taxonomy box is a fixed area at the
	bottom. It contains the textual buttons.
*/
.taxonomyBox .footer {
	text-align: right;
	font-size: 1em;
	border-top: LightGray solid 1px;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
}


/*
	Taxonomy nodes represent the individual concepts (boxes)
	in the taxonomy tree. They can be in several style,
	depending on whether:
		- they are root, internal or leaf nodes
		- they have checkbox or radio button
		- they are checked or not
		- they are expandable or not
*/
.node { /* general node */
	margin: 0;
	position: absolute;
	display: inline-block;
	background-color: White;
	padding: 0.3em;
	padding-right: 0.5em;
	cursor: pointer;
	white-space: nowrap;
	color: #40806A;
	border: solid 1px Gainsboro;
	box-shadow: 0 0 10px WhiteSmoke;
	border-radius: 0.5em;
	text-align: left;
}
.node:hover { /* hovering over a general node */
	color: Black;
	background-color: MediumAquaMarine;
	/*border: 1px Dotted Gray;*/
}
.node[type=root][ori=vertical] { /* vertical root node */
	font-weight: bold;
	border-right: solid 0 Black;
	border-bottom: solid 0.35em Black;
	/*border-radius: 5px;*/
}
.node[type=root][ori=horizontal] { /* horizontal root node */
	font-weight: bold;
	border-right: solid 0.35em Black;
	border-bottom: solid 0 Black;
	/*border-radius: 5px;*/
}
.node[type=leaf] { /* periferal node */
	color: Black;
	cursor: default;
}
.node[type=leaf]:hover { /* disabling hovering for periferal nodes */
	background-color: White;
}
.node[acem-rypy]:after { /* micro text shown in acem-rypy mode */
	display: block;
	font-size: 0.7em;
	font-weight: normal;
	text-align: left;
	color: Gray;
	padding-left: 0.3em;
	padding-right: 0.3em;
	content: attr(acem-rypy);
	background-color: WhiteSmoke;
	white-space: pre;
	border-radius: 0.45em;
}
.node[checked][acem-rypy]:after { /* micro text shown in acem-rypy mode */
	margin-left: 2em;
}
.node[type=root][acem-rypy]:after { /* micro text shown in acem-rypy mode */
	margin-left: 0em;
}
.node span.lang { /* language marker */
	color: Tomato;
}
.node[checked][kind]:before { /* a node contains a checkbox or radio button */
	background-size: 1.2em 1.2em;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: bottom;
	height: 1.2em;
	width: 1.5em;
	content: "";
}
.node[checked=u][kind=cb]:before { /* image of unchecked checkbox */
	background-image: url("../images/button-unchecked.png");
}
.node[checked=c][kind=cb]:before { /* image of checked checkbox */
	background-image: url("../images/button-checked.png");
}
.node[checked=u][kind=rb]:before { /* image of unchecked radio button */
	background-image: url("../images/button-unradioed.png");
}
.node[checked=c][kind=rb]:before { /* image of checked radio button */
	background-image: url("../images/button-radioed.png");
}
.node[kind=h]:before { /* image of inactive handle */
	background-image: url("../images/button-handle.png");
}
.node[checked=c][kind=h], .node[checked=c][kind=h] span { /* image of unchecked checkbox */
	color: Black;
	background-color: Tomato;
}
.dragNode {
	position: absolute;
	display: none;
	border: dotted 1px Tomato;
	border-radius: 10em;
	z-index: 2;
	padding: 0.2em 0.5em 0.2em 0.5em;
	color: Tomato;
	background-color: rgba(255,193,181,0.85); /* light tomato */
	cursor: move;
	white-space: nowrap;
}
